{% extends "base.html" %}
{% block title %} Afficher Details {% endblock %}
{% block content %}
<div class="container">
	<div class="col-md-12">
        <p>
            Details des collaborateurs
        </p>
		<table class="table table-hover">
            {% if data %}
				<head>
					  <tr class="table-dark">
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom de famille
                        </th>
                        <th class="align-middle">
                            Prenom
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
				 </head>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr class="table-dark">
					  <th class="align-middle">
                          {{ row.id_collaborateur }}
					  </th>
					  <th class="align-middle">
                          {{ row.nom_famille|default("", True) }}
					  </th>
					  <th class="align-middle">
                          {{ row.prenom|default("", True) }}
					  </th>
					  <th class="align-middle">
                          <button class="btn btn-secondary">
                              <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Edit</a>
                          </button>
					  </th>
					  <th class="align-middle">
                          <button class="btn btn-danger">
                              <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Delete</a>
                          </button>
					  </th>
					<tr class="table-dark">
						<td class="align-middle">
                            <button class="btn btn-dark">
                                <a href="{{ url_for('edit_genre_film_selected', id_film_genres_edit_html=row.id_collaborateur) }}">Modifier</a>
                            </button>
							</td>
						<td class="align-middle" colspan="10">
							{{ row.GenresFilms|default("PAS DE DETAILS", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr class="table-dark">
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
        <th class="align-middle">
            <a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter un/des detail(s)</a>
        </th>
	</div>
</div>
{% endblock %}
