{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('collaborateur_afficher', order_by='ASC', id_collaborateur_sel=0) }}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Collaborateur</a>
            </li>
        </ul>
    </div>
{% endblock %}
